<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storybook</title>

    <!-- Bootsrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Stylessheet Link -->
    <link href="/templates/css/base/storybook.css" type="text/css" rel="stylesheet">

    <!-- Google Fonts Link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers|Bungee|Creepster|Eagle Lake">

    <!-- Javascript -->
    <script src="/templates/javascript/base/storybook.js" type="text/javascript" defer></script>

    <!-- JQuery Script -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    
</head>

<body style="background-image: url(/static/images/fireplace.gif); background-size: cover;">

    <div class="audioContainer">
        <audio controls style="box-shadow: rgba(111, 110, 100, 0.2) 0px 7px 29px 0px; border-radius: 50px;">
            <source src="/static/audio/StoryAudio.mp3" type="audio/mpeg">
        </audio>
    </div>

    <div style="margin: auto; border: 0px solid; width: 90px; border-radius: 20px; background-color: #9d8162; text-align: center;" class="btncls">
        <button onclick="history.back()">Go Back</button>
    </div>
    
    <div class="Layout">
        <!-- Prev Button -->
        <button id="prev-btn" style="padding-right: 50px;">
            <h1><i class="bi bi-arrow-left-circle"></i></h1>
        </button>

        <!-- Book -->
        <div id="book" class="book">
            <!-- Paper 0 -->
            <div id="p0" class="coverPaper">
                <div class="front" style="background-color: #624a2e;">
                    <div style="width: 15%; height: 100%; background-color: #9d8162; position: absolute; z-index: -1; border-right: 2px dashed black; border-left: 2px solid black; border-top: 2px solid black; border-bottom: 2px solid black; border-radius: 10px 0px 0px 10px;"></div>
                    <div id="f0" class="front-content" style="margin-top: 10%;">
                        <h2 style="text-align: center; color: #d9bb99; width: 55%; margin: auto; padding-bottom: 20px;">{{storybookName}}</h2>
                        <div class="coverIMGcontainer">
                            <img src="{{coverImage}}" class="coverIMG"></img>
                        </div>
                    </div>
                </div>
                <div class="back" style="background-color: #624a2e;">
                    <div id="b0" class="back-content">
                    </div>
                </div>
            </div>
            <!-- Paper 1 -->
            <div id="p1" class="paper">
                <div class="front">
                    <div id="f1" class="front-content">
                        <h7 style="float: right; margin-right: 5px;">Page 1</h7><br>
                        <p>{{storybookStory}}</p>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h7 style="float: right; margin-right: 5px;">Page 2</h7><br>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- Paper 2 -->
            <div id="p2" class="paper">
                <div class="front">
                    <div id="f2" class="front-content">
                        <h7 style="float: right; margin-right: 5px;">Page 3</h7><br>
                        <p></p>
                    </div>
                </div>
                <div class="back">
                    <div id="b2" class="back-content">
                        <h7 style="float: right; margin-right: 5px;">Page 4</h7><br>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- Paper 3 -->
            <div id="p3" class="paper">
                <div class="front">
                    <div id="f3" class="front-content">
                        <h7 style="float: right; margin-right: 5px;">Page 5</h7><br>
                        <p></p>
                    </div>
                </div>
                <div class="back">
                    <div id="b3" class="back-content">
                        <h7 style="float: right; margin-right: 5px;">Page 6</h7><br>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Next Button -->
        <button id="next-btn" style="padding-left: 50px;">
            <h1><i class="bi bi-arrow-right-circle"></i></h1>
        </button>
    </div>
</body>
</html>




