
:root {
--primary-color: #ffbb00;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.formbody {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding-top: 230px;
    color: var(--primary-color);
}

html {
    overflow: hidden;
}

body {
    background-size: cover;
}

/* Global Stylings */
label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    opacity: 75%;
}

.hidden-enter {
    background-color: aquamarine;
    border-radius: 50px;
}

.nav {
    margin-left: 10%;
    margin-right: 10%;
    position: fixed;
    background-color: #ffd54a4c;
    width: 80%;
    height: 100px;
    border-radius: 0 0 30px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.navcontent {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    padding-left: 10%; 
    padding-right: 10%; 
    margin: auto;
    color: var(--primary-color);
}
.navoptions {
    height: 120px; 
    min-width: 170px; 
    border-radius: 0 0 25px 25px; 
    background-color: brown; 
    padding-top: 35px;
    text-align: center;
    transition: transform .3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navoptions:hover {
    transform: scale(1.15) translate(0, 7.5px);
    cursor: pointer;
}

.width-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

.text-center {
    text-align: center;
}

/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: hsl(0, 0%, 86%);
    z-index: -1;
}

.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #f3f3f3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: rgb(0, 0, 0);
}

.progress-step-active {
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 187, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 187, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 187, 0, 0);
	}
}

/* Form */
.form {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border-radius: 40px;
    padding: 30px;
    /*background-color: #ffd54a4c;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

.input-group {
    margin: 2rem 0;
}

@keyframes animate {
    from {
    transform: scale(1, 0);
    opacity: 0;
    }
    to {
    transform: scale(1, 1);
    opacity: 1;
    }
}

/* Button */
.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

/* loading dot styling */
.dotcontainer{
    width: 60px;
    margin: 70px auto;
    visibility: hidden;
  }
  .dot{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
  }
  .dot1{
    background-color: #1abc9c;
    animation: jump-up 0.6s 0.1s linear infinite;
  }
  .dot2{
    background-color: #ffd64a;
    animation: jump-up 0.6s 0.2s linear infinite;
  }
  .dot3{
    background-color: #e867af;
    animation: jump-up 0.6s 0.3s linear infinite;
  }
  @keyframes jump-up{
    50%{
      transform: translate(0,15px);
    }
  }